@import 'responsive.sсss';

.footer {
	background-color: #272727;
	padding-bottom: 110px;
	@include media(lgxs) {
		padding-bottom: 80px;
	}
	@include media(md) {
		padding-bottom: 24px;
	}
	
	&__block {
		border-bottom: 1px solid rgba(255, 255, 255, 0.12);
		padding-top: 112px;
		padding-bottom: 72px;
		margin-bottom: 50px;
		@include media(md) {
			padding-top: 32px;
			padding-bottom: 44px;
			margin-bottom: 40px;
		}
		@include media(sm) {
			margin-bottom: 22px;
		}
	}

	&__title {
		position: relative;
		font-size: 13px;
		line-height: 1.2;
		color: rgba(255, 255, 255, 0.4);
		letter-spacing: 0.03em;
		text-transform: uppercase;
		padding-left: 16px;
		margin-bottom: 24px;
		font-family: Euclid Circular B;
		font-weight: 500;
		@include media(smdx) {
			font-size: 12px;
			margin-bottom: 12px;
		}
		&:after {
			position: absolute;
			content: ' ';
			top: 50%;
			left: 0px;
			transform: translateY(-50%);
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: #f34841;
		}
	}

	&__phone {
		position: relative;
		display: inline-block;
		font-size: 48px;
		line-height: 1;
		color: #fff;
		font-family: Neue Haas Grotesk Display Pro;
		font-weight: 500;
		@include media(md) {
			font-size: 32px;
		}
		&:after {
			position: absolute;
			content: ' ';
			left: 0px;
			bottom: -11px;
			width: 100%;
			height: 2px;
			background-color: #fff;
			transition: 0.3s width;
			@include media(md) {
				bottom: -6px;
			}
		}
		&:hover:after {
			width: 0px;
		}
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__text {
		width: 110px;
		margin-right: auto;
		@include media(md) {
			width: 100%;
			order: 2;
		}
		p {
			font-size: 12px;
			line-height: 1.5;
			color: rgba(255, 255, 255, 0.4);
			font-family: Gotham;
			font-weight: normal;	
			&:first-child {
				margin-bottom: 40px;
				@include media(md) {
					margin-bottom: 12px;
				}
			}
			br {
				@include media(md) {
					display: none;
				}
			}
			a {
				color: rgba(255, 255, 255, 0.4);
				transition: 0.3s color;
				&:hover {
					color: #fff;
				}
			}
		}
	}


	&__holder {
		display: flex;
		max-width: 728px;
		width: 100%;
		@include media(lgxs) {
			max-width: 620px;
		}
		@include media(md) {
			max-width: 100%;
			flex-direction: column;
		}
	}

	&__box {
		width: calc(100% / 3);
		@include media(md) {
			width: 100%;
			padding-bottom: 12px;
		}
	}

	&__subtitle {
		font-size: 13px;
		line-height: 1.2;
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.4);
		text-transform: uppercase;
		margin-bottom: 16px;
		font-family: Euclid Circular B;
		font-weight: 500;
		@include media(md) {
			font-size: 12px;
			margin-bottom: 12px;
		}
	}

	&__list {
		li:not(:last-child) .footer__link {
			margin-bottom: 15px;
		}
	}

	&__link {
		display: inline-block;
		font-size: 16px;
		line-height: 1;
		color: #fff;
		margin-right: 20px;
		font-family: Euclid Circular B;
		font-weight: 500;
		transition: 0.3s color;
		&:hover {
			color: #f34841;
		}
	}

	&__social {
		width: 156px;
		@include media(md) {
			max-width: 108px;
			margin-bottom: 32px;
		}
	}

	&__about {
		display: flex;	
		border: 2px solid rgba(255, 255, 255, 0.24);
	}

	&__elem {
		width: calc(100% / 3);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 16px 0;
		@include media(md) {
			padding: 8px 0;
		}
		&:not(:last-child) {
			border-right: 2px solid rgba(255, 255, 255, 0.24);
		}
	}
}